* {
    padding: 0;
    margin: 0;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}


@font-face {
    font-family:'Gotham-Light';
    src: url("fonts/Gotham-Light.otf");
}
@font-face {
    font-family:'Gotham-Book';
    src: url("fonts/Gotham-Book.otf");
}
@font-face {
    font-family:'Gotham-Medium';
    src: url("fonts/Gotham-Medium.otf");
}
@font-face {
    font-family:'Gotham-Black';
    src: url("fonts/Gotham-Black.otf");
}



#titleName {
    font-family: 'Gotham-Medium';
}

#titleSubhead {
    font-family: 'Gotham-Book';
}

.jumbotron {
    background-color: white;
    text-align: center;
}

.background-grey {
    background-color: #F5F5F5;
}

.container-about {
    height: 100%;
   
}

.photo-insert {
    width: 200px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
}
.headshot {
    max-width: 100%;
  
}

.about-text {
    margin-top: 50px;
}

.container-edu-exp {
    height: 100%;
    margin-bottom: 100px;
}

.edu-exp-header {
    text-align: center;
}

#eduExpSubhead {
    font-family: "Gotham-Medium";
    padding-top: 50px;
    padding-bottom: 50px;
}

.edu-exp-box {
    width: 350px;
    height: 100px;
    background-color: #F5F5F5;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 7px 7px black;
    text-align: center;
}

#educationHead {
    display: inline-block;
    font-family: "Gotham-Book";
    font-size: 1rem;
}

#experienceHead {
    display: inline-block;
    font-family: "Gotham-Book";
    font-size: 1rem;
}

.edu-exp-text-head {
    font-family: "Gotham-Book";
}

.edu-exp-text {
    font-family: "Gotham-Light";
}

.card {
    border: none;
    margin-right: auto;
    margin-left: auto;
    height: 12rem;
    margin-bottom: 70px;
}


.card-text {
    font-family: "Gotham-Book";
    color: black;
}

.card-text:hover {
    color: #ade6d8;
}

#projectsSubhead {
    font-family: "Gotham-Medium";
    padding-top: 50px;
    padding-bottom: 50px;
}

.container-projects {
    height: 120%;
    padding-bottom: 100px;
    text-align: center;
}



/* MEDIA BREAKPOINTS */

/* Extra small devices */
@media (max-width: 575.98px) { 


}

/*  Small devices */
@media (min-width: 576px) and (max-width: 767.98px) { 


}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {


}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 


}

/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 


}